body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(183, 0, 0);
}

h1 {
    color: white;
}

img {
    margin-bottom: 20px;
    height: 70%;
    width: 70%;
}

.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#like {
    height: 30px;
    width: 60px;
}

#dislike {
    height: 30px;
    width: 60px;
}

.innerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: white;
    margin-top: 20px;
}